.label{
-fx-text-fill:white;
-fx-font-weight:bold;
-fx-font-size:10;
-fx-font-weight:bold;
-fx-font-family:verdana;

}
.button{
-fx-text-fill:black;
-fx-font-weight:bold;
-fx-font-size:14;
fx-background-color: #fff;
-fx-text-fill: #212F3F;
}
.text{
-fx-text-fill:white;
}
.header{
-fx-text-fill:red;
-fx-font-weight:bold;
-fx-font-size:15;
-fx-font-weight:bold;
-fx-font-family:verdana;
}